<div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 400px;">
    <p>
      <a href="" class="btn btn-block btn-sm btn-google"> <i class="fab fa-google"></i>   Login via gmail</a>
      <a href="" class="btn btn-block btn-sm btn-facebook"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
    </p>
    <p class="divider-text">
      <span class="bg-light">lub</span>
    </p>
    <form>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <input name="" class="form-control" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input name="" class="form-control" type="email">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
        </div>
        <input name="" class="form-control" type="tel">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input class="form-control" type="password">
      </div> <!-- form-group// -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Utwórz konto </button>
      </div> <!-- form-group// -->
      <p class="text-center">Masz konto ? <a href="">Zaloguj się</a> </p>
    </form>
  </article>
</div>