<div class="contact">
  <article>
    <div class="data-contact">
      <span><i class="fa fa-phone"></i></span>
      <div class="content">
        <div class="title-contact">Porozmawiajmy</div>
        <div class="contact-content"><a href="tel:+48503504505">+48 503-504-505</a></div>
      </div>
    </div>
    <div class="data-contact">
      <span><i class="fa fa-envelope"></i></span>
      <div class="content">
        <div class="title-contact">Napisz do nas</div>
        <div class="contact-content"><a href="mailto:broker.damianosoprano@gmail.com">broker.damianosoprano@gmail.com</a></div>
      </div>
    </div>
    <div class="data-contact">
      <span><i class="fa fa-envelope-open"></i></span>
      <div class="content">
        <div class="title-contact">Napisz do nas</div>
        <div class="contact-content">broker.damianosoprano@gmail.com</div>
      </div>
    </div>
  </article>
</div>
