.contact{
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  color:rgba(255, 255, 255, 0.918);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  article{
    background-image: url('../../assets/contact3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 80px 42px 80px 42px;
    display: flex;
    flex-direction: column;

    .data-contact {
      display:flex;
      width: 320px;
      padding: 16px;

      .content{
        display: flex;
        flex-direction: column;
        margin-left:30px;

        .title-contact {
          padding-bottom: 12px;
        }

        .contact-content {
          font-size: 0.9em;
        }
      }
    }
  }
}
